/*.welcome {*/
/*  align-items: center;*/
/*  align-content: center;*/
/*  width: 100%;*/
/*}*/

/*h1 {*/
/*  text-align: center;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*p {*/
/*  text-align: center;*/
/*}*/
